@font-face{
  font-family:'digital-clock-font';
  src: url('./DS-DIGI.TTF ');
 }
 *{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background: black;
  color: antiquewhite;
 }
 
 h1{
  position: absolute;
 margin: 20% 20%;
  font-size: 10em;
  font-family:'digital-clock-font';
  padding: 0 3%;
  background: rgba(216, 216, 216, 0.089);
  border-radius: 15px;
 }